html {
  box-sizing: border-box;
}

body {
  font-family: $ff-standart;
  font-size: $ff-main-size;
  font-weight: 400;
  background-color: $color-bg;
  color: $txt-color;
  letter-spacing: 0.055em;
  line-height: 1.25;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1210px;
}

.title-h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0.055em;
  margin: 0;
  margin-bottom: 40px;
}

.title-h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.055em;
  margin: 0;
}

.title-h4 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.055em;
  margin: 0;
}
