$ff-standart: arial, sans-serif;
$ff-add: "Oswald", arial, sans-serif;

$ff-main-size: 14px;
$ff-min-size: 12px;
$ff-medium-size: 20px;
$ff-size-large: 36px;

$color-main: #68b738;
$color-bg: #f2f2f2;
$color-white: #ffffff;
$color-black: #000000;
$color-border: #e6e6e6;
$color-border-item: #cdcdcd;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$icon-plus-width: 31px;
$gift-width: 56px;
