$ff-standart: "Source Sans Pro", sans-serif;
$ff-add: "MagistralC", sans-serif;

$ff-main-size: 18px;

$color-main: #68b738;
$color-bg : #111111;
$color-bg-accent: #222222;
$color-bg-content: #373737;
$txt-color: #ffffff;
$color-ghost: #a1a7a8;
$color-accent: #e11d36;
