.breadcrumbs {
  margin-top: 72px;
  margin-bottom: -32px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.055em;
}

.breadcrumbs__item {
  &--from {
    padding-right: 25px;
    margin-right: 10px;
    position: relative;

    &::after {
      @include pseudo;
      width: 15px;
      height: 15px;
      background: url("../img/arrow-breadcrumbs.svg") no-repeat;
      right: 0;
      top: 5px;
    }
  }

  &--to {
    color: $color-ghost;
  }
}
